<div class="elegant_lead_form_data">
    <pre>
        Date: {{ date }}
    </pre>

    <pre>
        Phone: {{ phone }}
    </pre>

    <pre>
        Email Address: {{ email }}
    </pre>

    <pre>
        Desired Budget: {{ budget }}
    </pre>

    <pre>
        Message: {{ message }}
    </pre>
</div>
