<div class="form-group">
    <label for="{{form_id}}_{{name}}">
        {{display_name}}:
        <input id="{{form_id}}_{{name}}" type="{{type}}" name="{{form_id}}_{{name}}" value="{{value}}">
    </label>
</div>
