<form>
    <div class="form-group">
        <label for="elegant_form_name">
            Name:
            <input id="elegant_form_name" type="text" name="elegant_form_name">
        </label>
    </div>
</form>
